@model IEnumerable<ApprovalPortal.Models.ApprovalHeader>
@{
    ViewBag.Title = "Open Requests";
    Layout = "~/Views/Shared/AdminLTE/_Layout.cshtml";
}
<script type="text/javascript">
</script>

<h2>All Approvals List</h2>

<div class="form-row">
     
    <div class=" form-group col-md-2" style="margin-right:0px;">
        @Html.ActionLink("Export to Excel", "DownloadExcel_AllApprovals", "Admin", new { Style = "color:Green!important" }, new { @class = "fas fa-arrow-alt-circle-down" })
    </div>


</div>

@if (@Session["loginEmp"] != null)
{
    @Html.Partial("_allOpenRequests", Model)
}
else
{
    Response.Redirect("~/Account/LogIn");
}